.actionneur
{
	margin-left : 20px;
}

fieldset { 
    border-color: blue;
    margin : 20px;    
    padding : 20px;
}


form label 
{
    float: left;
    width: 200px;
}

.mandatory
{
	color : red;
}

.client, .message
{
	margin-left : 15px;
}

.client
{
	margin-top : 20px;
}

.message
{
	color : orange;
}

